[project]
	description = An extensible login system for php websites
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Terry Pearson (terrypearson)
[access "refs/for/refs/*"]
	read = group user/Terry Pearson (terrypearson)
	push = group user/Terry Pearson (terrypearson)
	label-Code-Review = -2..+2 group user/Terry Pearson (terrypearson)
	label-Verified = -1..+1 group user/Terry Pearson (terrypearson)
	rebase = group user/Terry Pearson (terrypearson)
	removeReviewer = group user/Terry Pearson (terrypearson)
	submit = group user/Terry Pearson (terrypearson)
[access "refs/heads/*"]
	read = group user/Terry Pearson (terrypearson)
	create = group user/Terry Pearson (terrypearson)
	push = +force group user/Terry Pearson (terrypearson)
	pushMerge = group user/Terry Pearson (terrypearson)
[access "refs/tags/*"]
	push = +force group user/Terry Pearson (terrypearson)
	pushTag = group user/Terry Pearson (terrypearson)
	pushSignedTag = group user/Terry Pearson (terrypearson)
